APP_NAME=membership-api
PORT=3000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=your_password
DB_NAME=membership_db

JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=1d

BCRYPT_SALT_ROUNDS=10
JWT_SECRET_MERCHANT=replace_with_long_random_secret